#hero-image-top {
  background-image: url('../../public/images/banner-top.png');
  height: 225px;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.info {
  height: 175px;
  border: 5px solid #FF6600;
  width: 350px;
  border-radius: 10px;
  background-color: #EBEBEB;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#more-info{
  margin-left:20px;
}

#more-info strong{
  font-size: 20pt !important;
}

#contact{
  margin-left:20px;
}

#contact strong{
  font-size: 30pt !important;
}

strong {
  color: black;
}

#details {
  color: black;
  width: 80%;
  font-size: 25pt;
  margin:0 auto;
  margin-top:20px;
  text-align: center;
  text-align: center;
}

@media only screen and (max-width:382px) {
  .info{
    width:100%;
  }
}